.container{
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: aliceblue;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(222, 145, 4);
}

.title span{
    color: rgb(222, 145, 4);
}

.reset{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: rgb(93, 246, 246);
    cursor: pointer;
    background-color: #2b5061;
}

.reset:hover{
    filter: brightness(155%);
}

.board{
    min-height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.boxes{
    height: 100px;
    width: 100px;
    background-color: #2b5061;
    margin: 2px;
    border: 2px solid #0f1B21;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes img {
    height: 80%;
    width: 80%;
}

.boxes:hover{
    filter: brightness(155%);
}

.guide{
    position: absolute;
    inset: 20px;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 200px;
}

.guide div{
    display: flex;
    justify-content: center;
    align-items: center;

    color: aliceblue;
}

.guide>h1{
    font-size: 40px;
    text-decoration: underline;
}